.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.375rem 3rem;
}

.greeting_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}

.greeting_primary {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--dark-blue-black);
}

.greeting_secondary {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--gray-disabled);
}

.input {
  width: 24rem;
  border-radius: 0.625rem;
  border: 1px solid var(--gray-border);
  background-color: white;
  color: var(--gray-placeholder);
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
  outline: none;
}
