.container {
  background-color: white;
  width: clamp(8.25em, 15%, 12em);
  border-radius: 8px;
  cursor: pointer;
}

.innerContainer {
  display: flex;
  padding-left: 1em;
  padding-top: 0.825em;
  padding-right: 1em;
  padding-bottom: 0.825em;
  outline: none;
  border: none;
  width: 100%;
  background-color: transparent;
}

.innerContainer:disabled {
  cursor: not-allowed;
}

.innerContainer:valid {
  cursor: pointer;
}

.button_active {
  background-color: var(--sidebar-purple);
  color: var(--white);
}

.image {
  width: 1em;
  height: 1em;
  margin-right: 0.625em;
  color: var(--gray-disabled);
}

.icon_active {
  color: white;
}

.label {
  font-size: 0.875em;
  font-weight: 500;
  color: var(--gray-disabled);
}

.label_active {
  color: white;
}
