.container {
  width: 100%;
  border-radius: 1.25rem;
  cursor: pointer;
}

.innerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.25rem 1.5rem;
  outline: none;
  border: none;
}

.innerContainer:disabled {
  cursor: not-allowed;
}

.innerContainer:valid {
  cursor: pointer;
}

.button_active {
  background-color: var(--sidebar-purple);
  color: var(--white);
}

.image {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1.125rem;
  color: var(--gray-disabled);
}

.icon_active {
  color: white;
}

.label {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray-disabled);
}

.label_active {
  color: white;
}
