.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: 0.2px;
  color: var(--dark-blue-black);
}

.input {
  height: 64px;
  border-radius: 16px;
  border: none;
  outline: none;
  text-indent: 20px;
  font-size: 20px;
  font-weight: 300;
  color: var(--dark-blue-black);
}

.textarea {
  height: 256px;
  border-radius: 16px;
  padding: 20px 20px;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 300;
  color: var(--dark-blue-black);
  resize: none;
}

/* change input value font weight*/
.input::placeholder {
  font-weight: 400;
}
