.container {
  width: 1216px;
  margin: 0 auto;
  min-height: calc(100vh - 80px);
  background-color: var(--neutral-150);
}

.container_secondary {
  display: flex;
  justify-content: space-between;
}

.stepper_container {
  /* padding: 2.75rem 11.125rem; */
  margin-top: 1.5rem;
  /* display: flex;
  justify-content: center; */
  background-color: white;
  border-radius: 22.5px;
  border: 1px solid var(--gray-border);
  margin-bottom: 2rem;
}

.stepper_container_secondary {
  /* padding: 2.75rem 11.125rem; */
  margin-top: 1.5rem;
  /* display: flex;
  justify-content: center; */
  background-color: white;
  border-radius: 16px;
  width: 908px;
  border: 1px solid var(--gray-border);
  margin-bottom: 2rem;
}

.stepper_selector_container {
  display: flex;
  margin-bottom: 3rem;
}

.stepper_selector {
  flex: 1;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid var(--gray-border);
}

.stepper_selector[data-state='active'] {
  border-bottom: 2px solid var(--mina-purple);
}

.stepper_selector_title {
  font-weight: 300;
  font-size: 1rem;
  margin: 0.75rem 1rem;
  color: var(--dark-blue-black);
}

.stepper_selector_title_bold {
  font-weight: 700;
  font-size: 1rem;
  margin-right: 4px;
}

.create_exam_form_container {
  display: flex;
  justify-content: center;
}

.create_exam_header {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create_exam_header_title {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #111827;
}

.create_exam_header_desc {
  color: #6b7280;
  font-size: 0.875rem;
  font-weight: 400;
}

.create_exam_form_inner_container {
  width: 596px;
  margin-top: 2.5rem;
  margin-bottom: 2.75rem;
}

.form_element_container {
  margin-bottom: 2.25rem;
}

.form_element_container_question_first {
  margin-bottom: 2.25rem;
}

.form_element_container:nth-child(3) {
  margin-bottom: 1rem;
}

.form_element_title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #60646c;
}

.form_element_input {
  width: calc(100% - 2.25rem);
  padding: 0.75rem 1.125rem;
  border-radius: 4px;
  border: 1px solid var(--gray-border);
  outline: none;
  font-size: 1rem;
  font-weight: 300;
}

.form_element_input:focus {
  border: 1px solid var(--mina-purple);
}

.from_element_sub_desc {
  color: #8b8d98;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.create_exam_form_row {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2.25rem;
}

.create_exam_form_row > div {
  flex: 1;
  margin-bottom: 0;
}

.counter_text {
  color: #b9bbc6;
}

.form_element_textarea {
  width: 100%;
  height: 10rem;
  resize: none;
  padding: 0.75rem 1.125rem;
  border-radius: 4px;
  border: 1px solid var(--gray-border);
  outline: none;
  font-size: 1rem;
  font-weight: 300;
}

.form_element_textarea:focus {
  border: 1px solid var(--mina-purple);
}

.form_element_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form_element_button {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 1.125rem;
  color: white;
  background-color: var(--sidebar-purple);
  padding: 0.75rem 4rem;
  border-radius: 0.5rem;
  cursor: pointer !important;
}

.form_element_button_create {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  outline: none;
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--neutral-12);
  border-color: var(--neutral-12);
  border-style: solid;
  border-width: 1px;
  padding: 12px 12px;
  border-radius: 0.5rem;
  cursor: pointer !important;
  transition: all 0.3s;
}

.form_element_button_create:hover {
  background-color: #f6f6f6;
  /* border-color: #f6f6f6; */
  /* color: white; */
}

.form_element_button_back {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 1.26rem;
  color: black;
  background-color: 'transparent';
  padding: 12px 64px;
  border-radius: 0.5rem;
  cursor: pointer !important;
}

.questions_container {
  margin-bottom: 2.25rem;
}

.sidebar_container {
  width: 252px;
}

.questions_sidebar_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70dvh;
  min-height: 400px;
  margin: 1.5rem 0;
  background-color: #ffffff;
  border-radius: 16px;
  border: 1px solid var(--gray-border);
  margin-bottom: 32px;
}

.questions_sidebar_header {
  color: #1c2024;
  font-size: 20px;
  font-weight: 600;
  padding: 22px 24px;
  border-bottom: 1px solid #e5e7eb;
}

.questions_sidebar_questions_container {
  flex: 1;
  overflow-y: scroll;
}

.question_sidebar_question_item {
  padding: 20px 8px;
  border-bottom: 1px solid #e5e7eb;
}

.question_sidebar_question_item_error {
  position: relative;
}

.question_sidebar_question_item_error::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #e5484d;
  border-radius: 50%;
  top: 50%;
  right: 4.25rem;
  transform: translateY(-50%);
}

.question_sidebar_question_item_active {
  padding: 20px 8px;
  border-bottom: 1px solid #e5e7eb;
  background-color: rgba(123, 96, 241, 0.1);
}

.question_sidebar_question_create {
  padding: 20px 8px;
  display: flex;
  justify-content: center;
}

.question_sidebar_question_item_active > div > p {
  color: #7b60f1 !important;
}

.question_sidebar_question_item_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question_sidebar_question_item:hover {
  cursor: pointer;
}

.question_sidebar_question_item_text {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  padding: 0 16px;
}

.question_sidebar_question_item_controller_container {
  display: flex;
  gap: 8px;
  z-index: 99;
}

.question_sidebar_question_item_controller {
  color: var(--neutral-10);
  font-size: 1.25rem;
}
.question_sidebar_question_item_controller svg {
  stroke-width: 1;
}

.question_sidebar_question_item_controller:hover {
  cursor: pointer;
}

.create_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  border-radius: 8px;
  background-color: #e5484d;
}

.create_button_container:hover {
  cursor: pointer;
}

.create_button_text {
  font-size: 1.125rem;
  color: white;
}

.preview_table_container {
  margin: 2.25rem 0;
}

.preview_table {
  width: 100%;
}

.preview_table_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview_table_content {
  font-weight: 400;
  font-size: 1rem;
}

.preview_table_error {
  cursor: pointer;
}

.preview_container {
  display: flex;
  width: 100%;
  gap: 2rem;
  margin-bottom: 2.25rem;
}

.preview_question_container {
  width: 30rem;
}

.question_container {
  border: 1px solid var(--gray-border);
  border-radius: 12px;
  margin-bottom: 3rem;
  padding: 2rem 3rem;
}

.question_describe {
  font-weight: 300;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.question_title {
  font-weight: 500;
  font-size: 1.25rem;
}

.preview_selector_container {
  flex: 1;
}

.selector_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.selector_box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--gray-border);
  width: 3.25rem;
  height: 3.25rem;
  cursor: pointer;
}

.selector_box_active {
  border: 1px solid transparent;
  background-color: var(--mina-purple);
}

.selector_box_text {
  font-weight: 400;
  font-size: 1.825rem;
  color: var(--gray-dark);
}

.selector_box_text_active {
  color: white;
}

.add_option_image {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--sidebar-purple);
  font-size: 2.5rem;
}

.add_option_image:hover {
  cursor: pointer;
  opacity: 0.9;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 768px;
  }

  .stepper_container_secondary {
    width: 480px;
    padding: 1rem;
  }

  .sidebar_container {
    width: 224px;
  }

  .stepper_container {
    padding: 0 2.75rem;
  }

  .preview_container {
    flex-direction: column-reverse;
  }

  .preview_question_container {
    width: 100%;
  }

  .selector_container {
    gap: 2px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .stepper_container {
    padding: 0 1.25rem;
  }

  .stepper_selector_title > span {
    display: none;
  }

  .create_exam_form_row {
    flex-direction: column;
  }

  .selector_box {
    width: 32px;
    height: 32px;
  }

  .selector_box_text {
    font-size: 18px;
  }
}
