.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: var(--neutral-150);
  padding: 0 4.5rem;
}

.stepper_container {
  padding: 2.75rem 11.125rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 8px -3px rgba(0, 0, 0, 0.1);
}

.stepper_selector_container {
  display: flex;
  margin-bottom: 3rem;
}

.stepper_selector {
  flex: 1;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid var(--gray-border);
}

.stepper_selector[data-state="active"] {
  border-bottom: 2px solid var(--mina-purple);
}

.stepper_selector_title {
  font-weight: 300;
  font-size: 1rem;
  margin: 0.75rem 1rem;
  color: var(--dark-blue-black);
}

.stepper_selector_title_bold {
  font-weight: 700;
  font-size: 1rem;
  margin-right: 4px;
}

.form_element_container {
  margin-bottom: 2.25rem;
}

.form_element_title {
  font-weight: 500;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.form_element_input {
  width: calc(100% - 2.25rem);
  padding: 0.75rem 1.125rem;
  border-radius: 4px;
  border: 1px solid var(--gray-border);
  outline: none;
  font-size: 1rem;
  font-weight: 300;
}

.form_element_input:focus {
  border: 1px solid var(--mina-purple);
}

.create_exam_form_row {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2.25rem;
}

.create_exam_form_row > div {
  flex: 1;
  margin-bottom: 0;
}

.counter_text {
  font-size: 0.625rem;
  color: var(--gray-disabled);
  margin-top: 0.25rem;
}

.form_element_textarea {
  width: 100%;
  height: 10rem;
  resize: none;
  padding: 0.75rem 1.125rem;
  border-radius: 4px;
  border: 1px solid var(--gray-border);
  outline: none;
  font-size: 1rem;
  font-weight: 300;
}

.form_element_textarea:focus {
  border: 1px solid var(--mina-purple);
}

.form_element_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_element_button {
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 1rem;
  color: white;
  background-color: var(--sidebar-purple);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer !important;
}

.questions_container {
  margin-bottom: 2.25rem;
}

.preview_table_container {
  margin: 2.25rem 0;
}

.preview_table {
  width: 100%;
}

.preview_table_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.preview_table_content {
  font-weight: 400;
  font-size: 1rem;
}

.preview_table_error {
  cursor: pointer;
}

.preview_container {
  display: flex;
  width: 100%;
  gap: 2rem;
}

.preview_question_container {
  width: 30rem;
}

.question_container {
  border: 1px solid var(--gray-border);
  border-radius: 12px;
  margin-bottom: 3rem;
  padding: 2rem 3rem;
}

.question_describe {
  font-weight: 300;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.question_title {
  font-weight: 500;
  font-size: 1.25rem;
}

.preview_selector_container {
  flex: 1;
}

.selector_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.selector_box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--gray-border);
  width: 3.25rem;
  height: 3.25rem;
  cursor: pointer;
}

.selector_box_active {
  border: 1px solid transparent;
  background-color: var(--mina-purple);
}

.selector_box_text {
  font-weight: 400;
  font-size: 1.825rem;
  color: var(--gray-dark);
}

.selector_box_text_active {
  color: white;
}
