.container {
  background-image: url('../../../../images/exam/bg.png');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  /* background-color: #f6f4f9; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.scale__container {
  width: 1280px;
  margin: 0 auto;
}

.content_container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_container {
  background-color: white;
  border-radius: 1rem;
  padding: 3rem 2rem;
  margin: 2rem 0;
}

.card_inner_container {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  width: 536px;
  padding: 0.5rem 3.375rem;
}

.meta_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score_title {
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem; /* 128.571% */
  letter-spacing: -0.12px;
  text-align: center;
  margin-bottom: 2rem;
}

.score_text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.invite_container {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
}

.invite_container > span {
  font-weight: 700;
}

.title_container {
  display: flex;
  align-items: center;
  gap: 1.375rem;
  margin: 1rem 0;
}

.deadline_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card_content_container {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.card_content_inner_container {
  border: 1px solid var(--mina-purple);
  border-radius: 1rem;
  padding: 1rem;
}

.card_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_title__bold {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 142.857% */
}

.card_title__normal {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
}

.card_content {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  word-break: break-word;
  overflow-wrap: break-word;
}

.connect_button_container {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.75rem 1.5rem;
  background: linear-gradient(90deg, #7b60f1 0%, #9077fe 100%);
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.connect_button_container:disabled {
  cursor: default;
  background: #e0e0e0;
}

.connect_button_text {
  color: white;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.525rem;
}

.connect_container > a {
  text-decoration: none;
}

.connect_container_desc {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
}

.connect_container_desc_connected {
  margin-top: 1rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 150% */
}

.connect_container_desc > a {
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.connect_container_desc_connected > a {
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.send_text_content {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.42rem; /* 142.857% */
}

.send_text_input_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.send_icon {
  margin-top: 0.25rem;
}

.send_text_input {
  border: 1px solid red;
  margin-top: 0.25rem;
  flex: 1;
  padding: 0.5rem 0;
  text-indent: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--mina-purple);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.send_email_button_container {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-top: 2rem;
  background-color: var(--mina-purple);
}

.send_email_button_container:hover {
  cursor: pointer;
}

.send_email_button_text {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 150% */
  text-align: center;
  color: white;
}

.send_email_button_container_secondary {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-top: 0rem;
  background-color: white;
  text-decoration: none;
}

.send_email_button_text_secondary {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 150% */
  text-align: center;
  color: var(--mina-purple);
  text-decoration: none;
}

.inform_container {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  margin-bottom: 2rem;
}

.social_container {
  display: flex;
  justify-content: center;
}

.social_inner_container {
  display: flex;
  gap: 1rem;
}

.footer_container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.25rem 0;
}

.footer_container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.footer_nav_item {
  color: var(--dark-blue-black);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
  text-decoration: none;
}

.footer_copyright {
  color: var(--dark-blue-black);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}

.error_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.try_again_button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  color: var(--mina-purple);
}

@media screen and (max-width: 1280px) {
  .scale__container {
    width: 768px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .card_container {
    border-radius: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  .card_inner_container {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    width: 100%;
    padding: 48px 24px;
  }

  .scale__container {
    width: 100%;
    padding: 0 24px;
  }

  .footer_nav_container {
    display: none;
  }
}
