@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/* @import "@radix-ui/themes/styles.css"; */

/* @font-face {
  font-family: 'Filson Pro';
  src: url('../fonts/FilsonProRegular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('../fonts/FilsonProBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('../fonts/FilsonProLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('../fonts/FilsonProLightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('../fonts/FilsonProRegularItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('../fonts/FilsonProBoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('../fonts/FilsonProBlack.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('../fonts/FilsonProBlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Kefir';
  src: url('../fonts/Kefir-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

:root {
  --dark-blue-black: #1e293b;
  --mina-purple: #6366f1;
  --mina-orange: #ff9376;
  --gray-light: #fafafa;
  --sidebar-purple: #7b60f1;
  --gray-disabled: #8b8d98;
  --gray-dark: #667085;
  --gray-border: #e2e8f0;
  --gray-bg: #f8fafc;
  --gray-placeholder: #64748b;
  --dark-blue-dot: #3649f9;
  --green-dark: rgba(0, 131, 71, 0.84);
  --green-light: rgba(0, 131, 71, 0.74);
  --purple-bg: #f6f6fc;
  --rose-red: #f3aeaf;
  --dark-red: rgba(140, 0, 0, 0.8);
  --neutral-10: #7e808a;
  --neutral-12: #1c2024;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Urbanist', sans-serif;
}

/* body {
  font-family: 'Urbanist', sans-serif;
} */

table,
th,
td {
  border: 1px solid var(--gray-border);
  padding: 1rem 2rem;
  border-collapse: collapse;
  text-align: left;
}

th {
  background-color: var(--gray-light);
  font-weight: 600;
  font-size: 1rem;
}

/* ---Dialog Styles--- Radix Base */
@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button,
fieldset,
input {
  all: unset;
}

.DialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 2.5rem;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  color: var(--dark-blue-black);
  font-size: 1.125rem;
}

.DialogDescription {
  color: var(--gray-disabled);
  font-size: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 2.5rem;
}

.Button {
  display: block;
  align-items: center;
  border-radius: 4px;
}
.Button.violet {
  background-color: white;
  color: var(--gray-disabled);
  border: 1px solid var(--gray-border);
  font-weight: 300;
  font-size: 1rem;
  width: calc(100% - 2.25rem);
  cursor: pointer;
  padding: 0.75rem 1.125rem;
}

.Button.violet:focus {
  border: 1px solid var(--sidebar-purple);
}
.Button.green {
  background-color: var(--sidebar-purple);
  color: white;
  padding: 0.75rem 1.125rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.Button.green:hover {
  cursor: pointer;
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-11);
  position: absolute;
  top: 1.125rem;
  right: 1.125rem;
  cursor: pointer;
}
.IconButton:hover {
  background-color: var(--violet-4);
}
.IconButton:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

.Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}

.Label {
  font-size: 15px;
  color: var(--violet-11);
  width: 90px;
  text-align: right;
}

.Input {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: var(--violet-11);
  box-shadow: 0 0 0 1px var(--violet-7);
  height: 35px;
}
.Input:focus {
  box-shadow: 0 0 0 2px var(--violet-8);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
/* ---Dialog Styles--- */

/* Calendar Styles */
abbr {
  all: unset;
}

.react-calendar {
  width: 100%;
  max-width: 100%;
  background: white;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  text-align: center;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  /* background-color: #e6e6e6; */
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  /* background-color: #e6e6e6; */
}

.react-calendar__tile--now {
  background: var(--mina-orange);
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: var(--mina-orange);
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: var(--sidebar-purple);
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--sidebar-purple);
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

/* ---Select Styles--- */
button {
  all: unset;
}

.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 0.75rem 1.125rem;
  font-size: 1rem;
  font-weight: 300;
  /* height: 35px; */
  width: calc(100% - 2.25rem);
  background-color: white;
  border: 1px solid var(--gray-border);
  color: var(--gray-disabled);
}
.SelectTrigger:hover {
  /* background-color: var(--mauve-3); */
}
.SelectTrigger:focus {
  /* box-shadow: 0 0 0 1px black; */
}
.SelectTrigger[data-placeholder] {
  color: var(--gray-disabled);
}

.SelectIcon {
  color: var(--sidebar-purple);
}

.SelectContent {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 10px 40px -20px rgba(22, 23, 24, 0.2), 0px 10px 10px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
  padding: 4px;
}

.SelectViewport:hover {
  cursor: pointer;
}

.SelectItem {
  font-size: 1rem;
  font-weight: 300;
  color: var(--gray-disabled);
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 18px 24px;
  position: relative;
  user-select: none;
}
.SelectItem[data-disabled] {
  color: var(--gray-disabled);
  pointer-events: none;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: var(--sidebar-purple);
  color: white;
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--gray-disabled);
}

.SelectSeparator {
  height: 1px;
  background-color: var(--gray-border);
  margin: 5px;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: var(--violet-11);
  cursor: default;
}

/* ---Radio Group--- */
button {
  all: unset;
}

.RadioGroupRoot {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.RadioGruopContainer {
  border: 1px solid var(--gray-border);
  padding: 1rem 1.5rem;
  border-radius: 4px;
}

.RadioGruopContainerSecondary {
  position: relative;
  border: 1px solid var(--gray-bg);
  padding: 1rem 1.5rem;
  border-radius: 4px;
}

.RadioGruopContainerPreview {
  border-radius: 12px;
}

.RadioGroupContainer__active {
  border-color: var(--green-light);
  transition: 0.25s all ease-in-out;
}

.RadioGroupItem {
  background-color: white;
  border: 1px solid var(--gray-border);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.RadioGroupItem:hover {
  background-color: var(--green-light);
  transition: 0.25s all ease-in-out;
}
.RadioGroupItem:focus {
  /* box-shadow: 0 0 0 2px black; */
}
.RadioGroupItem[data-state='checked'] {
  background-color: var(--green-dark);
}

.RadioGroupIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  position: relative;
}
.RadioGroupIndicator::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

.Label {
  color: white;
  font-size: 15px;
  line-height: 1;
  padding-left: 15px;
}

.RadioInput {
  width: 100%;
  margin: 0 0.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 300;
}

.RadioText {
  width: 100%;
  margin: 0 0.5rem;
  font-size: 1rem;
  font-weight: 300;
}

/* ---Date-time Picker--- */

.react-datetime-picker {
  display: inline-flex;
  position: relative;
}

.react-datetime-picker,
.react-datetime-picker *,
.react-datetime-picker *:before,
.react-datetime-picker *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-datetime-picker--disabled {
  background-color: #f0f0f0;
  color: #6d6d6d;
}

.react-datetime-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: 1px solid var(--mina-purple);
  border-radius: 8px;
  padding: 0.625rem 1rem;
}

.react-datetime-picker__inputGroup {
  min-width: calc(4px + (4px * 3) + 0.54em * 6 + 0.217em * 2);
  flex-grow: 1;
  padding: 0 px;
}

.react-datetime-picker__inputGroup__divider {
  padding: 1px 0;
  white-space: pre;
}

.react-datetime-picker__inputGroup__divider,
.react-datetime-picker__inputGroup__leadingZero {
  display: inline-block;
}

.react-datetime-picker__inputGroup__input {
  min-width: 0.54em;
  height: calc(100% - 2px);
  position: relative;
  padding: 1px;
  border: 0;
  background: none;
  color: currentColor;
  font: inherit;
  box-sizing: content-box;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.react-datetime-picker__inputGroup__input::-webkit-outer-spin-button,
.react-datetime-picker__inputGroup__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.react-datetime-picker__inputGroup__input:invalid {
  background: rgba(255, 0, 0, 0.1);
}

.react-datetime-picker__inputGroup__input--hasLeadingZero {
  margin-left: -0.54em;
  padding-left: calc(1px + 0.54em);
}

.react-datetime-picker__inputGroup__amPm {
  font: inherit;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
}

.react-datetime-picker__button {
  border: 0;
  background: transparent;
  padding: 4px 6px;
}

.react-datetime-picker__button:enabled {
  cursor: pointer;
}

.react-datetime-picker__button:enabled:hover .react-datetime-picker__button__icon,
.react-datetime-picker__button:enabled:focus .react-datetime-picker__button__icon {
  stroke: #0078d7;
}

.react-datetime-picker__button:disabled .react-datetime-picker__button__icon {
  stroke: #6d6d6d;
}

.react-datetime-picker__button svg {
  display: inherit;
}

.react-datetime-picker__calendar,
.react-datetime-picker__clock {
  z-index: 1;
}

.react-datetime-picker__calendar--closed,
.react-datetime-picker__clock--closed {
  display: none;
}

.react-datetime-picker__calendar {
  width: 350px;
  max-width: 100vw;
}

.react-datetime-picker__calendar .react-calendar {
  border-width: thin;
}

.react-datetime-picker__clock {
  width: 200px;
  height: 200px;
  max-width: 100vw;
  padding: 25px;
  background-color: white;
  border: thin solid #a0a096;
}
