.container {
  width: 1280px;
  margin: 0 auto;
  padding: 4.875rem 0;
}

.exam_header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exam_header_title {
  color: var(--dark-blue-black);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: -0.18px;
}

.timer_container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem;
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid var(--rose-red);
  border-radius: 0.6rem;
}

.timer_content {
  color: rgba(205, 0, 8, 0.76);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.75rem;
  letter-spacing: -0.144px;
}

.content_container {
  background-color: white;
  border-radius: 1rem;
  padding: 80px;
  margin-top: 4.875rem;
}

.preview_container {
  display: flex;
  gap: 4.6875rem;
}

.preview_question_container {
  flex: 1;
}

.question_container {
  border: 1px solid var(--gray-border);
  border-radius: 12px;
  margin-bottom: 3rem;
  padding: 2rem 3rem;
}

.question_describe {
  font-weight: 300;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.question_title {
  font-weight: 500;
  font-size: 1.25rem;
}

.preview_selector_container {
  width: 360px;
}

.selector_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.selector_box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--gray-border);
  width: 3.25rem;
  height: 3.25rem;
  cursor: pointer;
}

.selector_box_active {
  border: 1px solid transparent;
  background-color: var(--mina-purple);
}

.selector_box_text {
  font-weight: 400;
  font-size: 1.825rem;
  color: var(--gray-dark);
}

.selector_box_text_active {
  color: white;
}

.form_element_button_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}

.form_element_button {
  padding: 1rem 2rem;
  border-radius: 12px;
  background-color: var(--mina-purple);
  border: none;
  outline: none;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.144px;
  color: white;
  cursor: pointer;
}

.error_description {
  margin-top: 1.25rem;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5rem;
  letter-spacing: -0.144px;
  list-style: none;
}

.error_description > a {
  text-decoration: none;
  color: var(--mina-purple);
}

.error_func_container {
  display: flex;
  align-items: center;
  margin-top: 1.25rem;
  gap: 1.25rem;
}

.error_func_container p {
  color: var(--mina-purple);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.144px;
  cursor: pointer;
}

.error_func_container a {
  color: var(--mina-purple);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -0.144px;
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 768px;
  }

  .preview_container {
    flex-direction: column-reverse;
  }

  .preview_selector_container {
    width: 100%;
  }

  .selector_container {
    gap: 64px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .content_container {
    border-radius: 0;
    padding: 48px 24px;
  }

  .selector_container {
    gap: 18px;
  }

  .exam_header_container {
    flex-direction: column;
    gap: 2rem;
    padding: 0 24px;
    text-align: center;
  }

  .error_description {
    padding: 0 24px;
  }

  .error_func_container {
    padding: 0 24px;
  }
}
