.container {
  width: 1280px;
  margin: 0 auto;
}

.content_container {
  padding: 2rem 0;
}

.content_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content_header_title {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.525rem; /* 140% */
  letter-spacing: -0.09px;
}

.content_header_button {
  padding: 0.75rem 1.125rem;
  background-color: var(--mina-purple);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0px 5.063px 0px 0px #262525;
  transition: ease-in-out 0.2s;
}

.content_header_button:hover {
  cursor: pointer;
  box-shadow: 0px 3.063px 0px 0px #262525;
  transition: ease-in-out 0.2s;
}

.content_header_button_text {
  color: white;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 142.857% */
}

.table_container {
  margin: 2rem 0;
}

.table_head_container {
  display: flex;
}

.table_head_item_container {
  width: 213.3px;
  padding: 1.5rem;
}

.table_head_item {
  color: var(--dark-blue-black);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 150% */
}

.table_head_item_secondary {
  color: #c62a2f;
}

.flex__1 {
  flex: 1;
}

.flex__2 {
  flex: 2;
}

.table_rows_container {
  color: #8b8d98;
}

.table_row_container {
  display: flex;
  transition: all ease-in-out 0.2s;
}

.table_row_container:hover {
  background-color: #f6f4f9;
  color: #60646c !important;
  transition: all ease-in-out 0.2s;
}

.table_row_item_container {
  width: 213.3px;
  padding: 1.5rem;
}

.table_row_item {
  color: inherit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
}

.table_row_item_edit_container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.table_row_item_edit_container:hover {
  cursor: pointer;
}

.table_row_copy_link {
  color: inherit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; /* 150% */
}

.no_content_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  height: 80vh;
}

.no_content_inner_container {
  display: flex;
  flex-direction: column;
  gap: 2.625rem;
}

.no_content_text_container {
  text-align: center;
}

.no_content_desc {
  color: var(--dark-blue-black);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
}

.no_content_title {
  color: var(--dark-blue-black);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
}

.no_content_button_container {
  display: flex;
  justify-content: center;
}

.no_content_button {
  padding: 0.75rem 1.125rem;
  background-color: var(--mina-purple);
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0px 5.063px 0px 0px #262525;
  transition: ease-in-out 0.2s;
}

.no_content_button:hover {
  cursor: pointer;
  box-shadow: 0px 3.063px 0px 0px #262525;
  transition: ease-in-out 0.2s;
}
